# Session 06 : Functions, Map, Filter, & Lambda Expression
*SHIFTACADEMY - Jihar Gifari*

## Table of Contents 
**0. Introduction to Function**

**1. Functions**
    - Defining a Function
    - Calling a Function
    - Function Arguments :
        - Required Argument
        - Keyword Argument
        - Default Argument
        - Variable-length Argument
    - Tuple Unpacking With Function
    - Interaction between Function : Simple Shuffled Cup Game

**2. Function Exercise**

**3. Map, Filter, and Lambda Expression**
    - Map
    - FIlter
    - Lambda Expression L The Anonymous Function


## Introduction to Function
<img src='image_DSA/function_illustration.jpg' align='left' width='500'>

- Creating clean repeatable code is a key part of becoming an effective programmer
- **Function** allows us to create blocks of code that can be easily executed many times, without needing to contantly rewrite the entire block of code

<img src='image_DSA/function_skill.jpg' align='left' width='500'>

## 1. Functions
- A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

- As you already know, Python gives you many built-in functions like print(), etc. but you can also create your own functions. These functions are called user-defined functions

### 1.1 Defining a Function
You can define functions to provide the required functionality. Here are simple rules to define a function in Python.

- Function blocks begin with the keyword def followed by the function name and parentheses ( ( ) ).

- Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.

- The first statement of a function can be an optional statement - the documentation string of the function or docstring.

- The code block within every function starts with a colon (:) and is indented.

- The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

<img src='image_DSA/function_syntax.jpg' alt='drawing' align='left' width='600'>

By default, parameters have a positional behavior and you need to inform them in the same order that they were defined.

In [37]:
# Example 1 : buat function print sendiri
def cetak(str):
    print(str)

In [28]:
def square(num):
    result = num**2
    return result

In [11]:
def luas_segitiga(alas, tinggi):
    luas = (alas*tinggi) / 2
    return luas

In [12]:
def cek_palindrome(str):
    str = str.lower()
    if str==str[::-1]:
        result = '{} termasuk kata Palindrome'.format(str)
    else:
        result = '{} Bukan termasuk kata Palindrome'.format(str)
    return result

In [34]:
def angka_terkecil(list_angka):
    kecil = list_angka[0]
    for i in list_angka:
        if i < kecil:
            kecil = i
    return kecil

### 1.2 Calling Function
- Defining a function only gives it a name, specifies the parameters that are to be included in the function and structures the blocks of code.

- Once the basic structure of a function is finalized, you can execute it by calling it from another function or directly from the Python prompt. Following is the example to call printme() function −

In [38]:
cetak('Shift Academy!')

Shift Academy!

In [39]:
square(4534)

20557156

In [40]:
luas_segitiga(10, 10)

50.0

In [41]:
cek_palindrome('wadidaw')

'wadidaw termasuk kata Palindrome'

In [43]:
cek_palindrome('SHIFT')

'shift Bukan termasuk kata Palindrome'

In [46]:
angka_terkecil([122343,143223,243123,14223,124322,34234,32434,524,3423423,342345,4423323,2342,42434,2413])

524

### 1.3 Function Argument
You can call a function by using the following types of formal arguments −

- Required arguments
- Keyword arguments
- Default arguments
- Variable-length arguments

#### 1.3.1 Required Argument
- Required arguments are the arguments passed to a function in correct positional order. Here, the number of arguments in the function call should match exactly with the function definition.

In [47]:
def cek_plat_nomor(tanggal, plat_nomor):
    plat_nomor = plat_nomor.split(' ')
    plat_nomor = int(plat_nomor[1])
    if tanggal%2==0:
        if plat_nomor%2 == 0 :
            print('Anda lolos.')
        else:
            print('Anda ditilang! hari ini tanggal genap, plat nomor anda ganjil')
    else:
        if plat_nomor%2 == 0 :
            print('Anda ditilang! hari ini tanggal ganjil, plat nomor anda genap')
        else:
            print('Anda Lolos.')

In [48]:
cek_plat_nomor(30, 'F 1511 SC')

Anda ditilang! hari ini tanggal genap, plat nomor anda ganjil

In [49]:
cek_plat_nomor(31, 'F 1511 SC')

Anda Lolos.

In [30]:
cek_plat_nomor(plat_nomor='F 15 RI', 
               tanggal = 10)

Anda ditilang! hari ini tanggal genap, plat nomor anda ganjil

In [51]:
luas_segitiga(5, 23)

57.5

#### 1.3.2 Keyword arguments
- Keyword arguments are related to the function calls. When you use keyword arguments in a function call, the caller identifies the arguments by the parameter name.

- This allows you to skip arguments or place them out of order because the Python interpreter is able to use the keywords provided to match the values with parameters.

In [56]:
# Function definition is here
def printinfo( name, age ):
    print("Name: ", name)
    print("Age :", age)

In [57]:
# Now you can call printinfo function
printinfo( age=50, name="miki" )

Name:  miki
Age : 50

#### 1.3.3 Default arguments
- A default argument is an argument that assumes a default value if a value is not provided in the function call for that argument. The following example gives an idea on default arguments, it prints default age if it is not passed −

In [59]:
# Function definition is here
def printinfo( name, age = 35 ):
    print("Name: ", name)
    print("Age ", age)
    return;

In [60]:
# Now you can call printinfo function
printinfo( age=50, name="miki" )
printinfo( name="miko" )

Name:  miki
Age  50
Name:  miko
Age  35

In [61]:
def total_gaji(basic_salary, bonus=0, pajak=0.10, denda=0):
    total_gaji = basic_salary + bonus - denda - (basic_salary*pajak)
    print(f'Total Gaji : {int(total_gaji)}')

In [62]:
total_gaji(basic_salary=5000000, 
           bonus=1000000)

Total Gaji : 5500000

#### 1.3.4 Variable-length arguments
- You may need to process a function for more arguments than you specified while defining the function. These arguments are called variable-length arguments and are not named in the function definition, unlike required and default arguments.

- Syntax for a function with non-keyword variable arguments is this −

<img src='image_DSA/variable_length.jpg' alt='drawing' align='left' width='600'>

In [63]:
def maksimal(*args):
    maks = args[0]
    for i in args:
        if i > maks:
            maks=i
    return maks

In [66]:
maksimal(23,24,12,324,12,3,4532,2341,42323,342,23)

42323

In [7]:
def makslist(*args):
    x = args[0]
    for i in args:
        if i > x :
            x=i
    return x

In [14]:
def total(*args):
    total = 0
    for i in args :
        total += i
    return total

In [15]:
total(5,5,5,5)

20

In [34]:
def rumus_jkw(**kwargs):
    if 'jarak' in kwargs.keys() and 'waktu' in kwargs.keys():
        print('Kecepatan : ', kwargs['jarak']/kwargs['waktu'])
    elif 'jarak' in kwargs.keys() and 'kecepatan' in kwargs.keys():
        print('Waktu : ', kwargs['jarak']/kwargs['kecepatan'])
    elif 'waktu' in kwargs.keys() and 'kecepatan' in kwargs.keys():
        print('Jarak : ', kwargs['waktu']/kwargs['kecepatan'])
    else:
        print('informasi tidak cukup')

In [36]:
rumus_jkw(kecepatan=10, jarak=3456)

Waktu :  345.6

In [73]:
def printInfoBaru(*args):
    """0 : Nama, 
       1 : Umur, 
       2 : tanggal lahir"""
    print("""Nama         : {}
Umur         : {}
Tanggal Lahir: {}""".format(args[0], args[1], args[2]))

In [74]:
printInfoBaru('Jihar', 23, '5 Juni 1998')

Nama         : Jihar
Umur         : 23
Tanggal Lahir: 5 Juni 1998

In [124]:
def total_belanja(**kwargs):
    belanja = kwargs['Baju'] + kwargs['Celana'] + kwargs['Topi']
    print('Total Belanja adalah : ', belanja)

In [125]:
total_belanja(Baju=100, Celana=234, Topi=10 )

Total Belanja adalah :  344

#### **Quick Exercise**: 

Buat function yang dapat mengeluarkan semua nilai ganjil dan genap dari suatu list

In [ ]:
def check_even_list(theList):
    even_list = []
    for i in theList:
        if i%2 == 0 :
            even_list.append(i)
    return even_list

In [195]:
check_even_list([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [547]:
def keluarin_ganjil(theList):
    list_ganjil = []
    for i in theList:
        if i%2 != 0:
            list_ganjil.append(i)
    print(list_ganjil)

In [548]:
keluarin_ganjil([i for i in range(50, 70)])

[51, 53, 55, 57, 59, 61, 63, 65, 67, 69]

In [553]:
list_peserta = ['agung', 'bunga', 'dandi', 'budi']

In [556]:
search_name(list_peserta)

search for keyword: di
dandi
budi

In [542]:
def search_name(list_nama):
    keyword = input('search for keyword: ')
    for i in list_nama:
        if keyword in i:
            print(i)

In [543]:
list_nama = ['ujang', 'karim', 'hasyim']
search_name(list_nama)

search for keyword: an
ujang

In [ ]:
data_jam_kerja = [('Andi', 100), ('Budi', 98), ('Jajang', 1830),('Raihan', 200)]

### 1.5 Tuple Unpacking With Function

In [1]:
list_nilai = [('syahrul', 95), ('Bety', 90), ('Halim', 85), ('Herman', 70)]

In [2]:
def nilai_tertinggi(listNilai):
    tertinggi = 0
    nama_peserta = ''
    
    for nama, nilai in listNilai:
        if nilai > tertinggi :
            tertinggi = nilai
            nama_peserta = nama
        else:
            pass
    return (nama_peserta, tertinggi)

In [3]:
nilai_tertinggi(list_nilai)

('syahrul', 95)

In [129]:
data_jam_kerja = [('Andi', 100), ('Budi', 98), ('Jajang', 1830), ('Raihan', 200)]

In [130]:
def kasih_bonus(employee):
    current_max = 0
    best_employee = ''
    
    for employee, hour in data_jam_kerja :
        if hour > current_max :
            current_max = hour
            best_employee = employee
        else :
            pass
    
    return (best_employee, current_max)

def kasih_peringatan(employee):
    current_min = 100000
    warning_employee = ''
    
    for employee, hour in data_jam_kerja :
        if hour < current_min :
            current_min = hour
            warning_employee = employee
        else :
            pass
    
    return (warning_employee, current_min)

In [576]:
kasih_bonus(data_jam_kerja)

('Jajang', 1830)

In [577]:
kasih_peringatan(data_jam_kerja)

('Budi', 98)

In [571]:
data_jam_kerja

[('Andi', 100), ('Budi', 98), ('Jajang', 1830), ('Raihan', 200)]

### 1.6 Interaction Between Function : Simple Shuffled Cup Game

Here we're going to play some game! 

<img src='image_DSA/cup_game.jpg' align='left' width='400'>

In [131]:
from random import shuffle
example = [i for i in range(1,9)]
example

[1, 2, 3, 4, 5, 6, 7, 8]

In [132]:
shuffle(example)

In [133]:
example

[4, 6, 8, 2, 5, 7, 3, 1]

In [134]:
def shuffle_list(myList):
    shuffle(myList)
    return myList

In [135]:
myList = [' ', 'O', ' ']
shuffle_list(myList)

[' ', ' ', 'O']

In [136]:
shuffle_list(example)

[2, 6, 4, 8, 3, 1, 7, 5]

In [137]:
def player_guess():
    guess = ''
    
    while guess not in [0, 1 , 2]:
        guess=int(input('Pick a number : 0, 1, or 2? '))
    
    return guess

In [138]:
player_guess()

Pick a number : 0, 1, or 2? 0

0

In [142]:
def check_guess(myList, guess):
    if myList[guess] == 'O':
        print('Correct!!!')
    else:
        print('Wrong Guess!!')
        print(myList)

In [139]:
def shuffle_list(myList):
    shuffle(myList)
    return myList

def player_guess():
    guess=''
    
    while guess not in [0, 1 , 2]:
        guess=int(input('Pick a number : 0, 1, or 2? '))
    
    return guess

def check_guess(myList, guess):
    if myList[guess] == 'O':
        print('Correct!!!')
    else:
        print('Wrong Guess!!')
        print(myList)

In [141]:
check_guess(shuffle_list(myList), player_guess())

Pick a number : 0, 1, or 2? 1
Wrong Guess!!
[' ', ' ', 'O']

In [143]:
# Shuffle the list
shuffledList = shuffle_list(myList)

# Get the Player's Guess
finalGuess = player_guess()

# Check the guess
result = check_guess(shuffledList, finalGuess)

result

Pick a number : 0, 1, or 2? 1
Wrong Guess!!
[' ', ' ', 'O']

### Quick Exercise

In [221]:
def myfunc(name):
    print('Hello'+name)

In [223]:
myfunc('jihar')

Hellojihar

In [224]:
def myfunc(value):
    if value == True :
        return 'Hello'
    else :
        return 'Goodbye'

In [226]:
myfunc(False)

'Goodbye'

In [227]:
def myfunc(x,y,z):
    if z :
        return x
    else :
        return y

In [229]:
myfunc('hallo', 'babay', 1)

'hallo'

In [230]:
def myfunc(a,b):
    return a+b

In [231]:
myfunc(10,11)

21

In [232]:
def is_even(x):
    if x%2 == 0 :
        print('True')
    else :
        print('False')

In [233]:
is_even(9)

False

In [234]:
def is_greater(a,b):
    if a>b :
        return True
    else : 
        return False

In [235]:
is_greater(2,3)

False

In [287]:
def sapa_nama(nama):
    print('Halo', nama, '!')

def datang_pergi(datang):
    if datang :
        return 'Hello'
    else :
        return 'Goodbye'

def is_even(x):
    if x%2 == 0 :
        print('True')
    else :
        print('False')

def is_greater(a,b):
    if a>b :
        return True
    else : 
        return False

In [605]:
#exercise1
sapa_nama('Mas Aditya Sholeh')

Halo Mas Aditya Sholeh !

In [612]:
def sapa_lagi(nama):
    print('Assalamualaikum', nama)

In [614]:
def angka_ganjil(x):
    if x%2 != 0 :
        print('True')
    else:
        print('False')

In [615]:
angka_ganjil(11)

True

In [607]:
# exercise 2
datang_pergi(0)

'Goodbye'

In [609]:
# exercise 3
is_even(5)

False

In [611]:
#exercise 4
is_greater(2,5)

False

In [327]:
def myfunc(*args):
    return sum(args)

In [328]:
myfunc(1,2,3,4)

10

In [336]:
def myfunc(*args):
    even = []
    for i in args:
        if i%2 == 0 :
            even.append(i)
        else:
            continue
    return even

In [337]:
myfunc(1,2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]


## Function Practice Exercises

Problems are arranged in increasing difficulty:

- Warmup - these can be solved using basic comparisons and methods
- Level 1 - these may involve if/then conditional statements and simple methods
- Level 2 - these may require iterating over sequences, usually with some kind of loop
- Challenging - these will take some creativity to solve

### WARMUP SECTION:
**LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd**

- lesser_of_two_evens(2,4) --> 2
- lesser_of_two_evens(2,5) --> 5

In [349]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b % 2 == 0 :
        if a < b :
            print(a)
        else:
            print(b)
    elif a%2 != 0 or b % 2 != 0:
        if a < b :
            print(b)
        else :
            print(a)

In [496]:
lesser_of_two_evens(4,9)

9

In [497]:
lesser_of_two_evens(4, 14)

4

In [498]:
lesser_of_two_evens(5, 9)

9

### ANIMAL CRACKERS:
**Write a function takes a two-word string and returns True if both words begin with same letter**

- animal_crackers('Levelheaded Llama') --> True
- animal_crackers('Crazy Kangaroo') --> False

In [359]:
def animal_crackers(a):
    a = a.split(' ')
    
    if a[0][0] == a[1][0]:
        print(True)
    else:
        print(False)

In [492]:
animal_crackers('Jihar Gifari')

False

In [493]:
animal_crackers('Zinedine Zidan')

True


**OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name**

- old_macdonald('macdonald') --> MacDonald
- hints : try to use .capitalize()

In [381]:
def old_macdonald(str, index):
    mac = str[:index].capitalize()
    donald = str[index:].capitalize()
    print("{}{}".format(mac, donald))

In [383]:
old_macdonald('jihargifari', 5)

JiharGifari


### MASTER YODA: 
**Given a sentence, return a sentence with the words reversed**

- master_yoda('I am home') --> 'home am I'
- master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

> "--".join(['a','b','c'])
> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

> " ".join(['Hello','world'])
> "Hello world"

In [426]:
def master_yoda(str):
    str = str.split(' ')
    output = ''
    if len(str) == 2 :
        for i in range(len(str)):
            output = ' '.join([str[-i], str[-i-1]])
    elif len(str) == 3 :
        for i in range(len(str)):
            output = ' '.join([str[i-3], str[-i], str[-i-1]])
    else :
        print('please enter sentences no longer that 3 words')
        
    return output

In [494]:
master_yoda('I Love You')

'You Love I'

In [495]:
master_yoda('there you go')

'go you there'

## Map, Filter, and Lambda Expression

### Map

In [38]:
# Return double of n 
def addition(n): 
    return n + n 
  
# We double all numbers using map() 
numbers = [1, 2, 3, 4] 
result = map(addition, numbers) 
print(list(result))

[2, 4, 6, 8]

In [39]:
def square(num):
    return num**2

In [40]:
my_nums = [1,2,3,4,5]

In [41]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [617]:
for i in map(square, my_nums):
    print(i)

1
4
9
16
25

In [465]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

### Filter

In [42]:
def check_even(num):
    return num%2 == 0

In [43]:
mynums = [1,2,3,4,5,6,7,8]

In [44]:
list(filter(check_even, mynums))

[2, 4, 6, 8]

### The Anonymous Function : Lambda Expression
These functions are called anonymous because they are not declared in the standard manner by using the def keyword. You can use the lambda keyword to create small anonymous functions.

- Lambda forms can take any number of arguments but return just one value in the form of an expression. They cannot contain commands or multiple expressions.

- An anonymous function cannot be a direct call to print because lambda requires an expression

- Lambda functions have their own local namespace and cannot access variables other than those in their parameter list and those in the global namespace.

- Although it appears that lambda's are a one-line version of a function, they are not equivalent to inline statements in C or C++, whose purpose is by passing function stack allocation during invocation for performance reasons.

In [150]:
# format paling basic
def square(num): 
    result = num**2
    return result

#format lebih singkat
def square(num):  
    return num**2

#Format one liner (not recommended)
def square(num): return num**2

In [151]:
#Lambda Expression
lambda_sqr = lambda num: num**2

# jarang diberi nama seperti ini

In [152]:
square(4)

16

In [153]:
lambda_sqr(4)

16

In [154]:
names = ['andy', 'bally', 'ujang']

In [155]:
list(map(lambda name: name[0], names))

['a', 'b', 'u']

In [156]:
asli = ['makan', 'mas', 'iyo']
walikan = list(map(lambda x:x[::-1], asli))

In [157]:
walikan

['nakam', 'sam', 'oyi']