In [12]:
a = 10
b = 20
c = 0
d = 3

c = a+b
print('Line 1 - value of c is ', c)

c = a-b
print('Line 2 - value of c is ', c)

c = a*b
print('Line 3 - value of c is ', c)

c = a/b
print('Line 4 - value of c is ', c)

c = b%d
print('Line 5 - value of c is ', c)

c = a**d
print('Line 5 - value of c is ', c)

c = a//d
print('Line 6 - value of c is ', c)

Line 1 - value of c is  30
Line 2 - value of c is  -10
Line 3 - value of c is  200
Line 4 - value of c is  0.5
Line 5 - value of c is  2
Line 5 - value of c is  1000
Line 6 - value of c is  3

In [24]:
a = 10
b = 20

print(a==b)

print(a!=b)

False
True

In [30]:
a = 21
b = 10
c = 0

c += a # equal to c = c+a
print('Line 1 - ', c)

c -= a
print('Line 2 - ', c)

b *= a # b = b*a
print('Line 3 - ', b)

Line 1 -  21
Line 2 -  0
Line 3 -  210

In [36]:
a = 10
b = 5

a>b or b>a

True

In [43]:
nilai = 10

if nilai>=90:
    print('sangat bagus')
elif 60<=nilai<90:
    print('standar')
else :
    print('jelek')

jelek

In [46]:
nilai = int(input('Masukkan nilai ujian: '))
kategori = input('Kategori(SD/SMP): ')

if kategori=='SD':
    if nilai>=70:
        print('Anda lulus')
    else:
        print('Anda tidak lulus')
        
elif kategori =='SMP':
    if nilai>=80:
        print('Anda lulus')
    else:
        print('Anda tidak lulus')

Masukkan nilai ujian: 70
Kategori(SD/SMP): SMP
Anda tidak lulus

## Challenge 01 : Pengambilan Keputusan Tilang Berdasarkan Plat Nomor
• Rules :
   - buat program python sederhana yang dapat menerima 2 input :
       - tanggal
       - plat nomor
   - kemudian program akan secara otomatis memberikan jawaban apakah pada tanggal tersebut, pemilik kendaraan dengan plat nomor yang diinput akan terkena tilang atau tidak.

• Ketentuan tilang ialah :
- akan ditilang apabila ada plat nomor ganjil di tanggal genap, begitu juga sebaliknya

In [1]:
tanggal = int(input('Masukkan Tanggal: '))
plat_nomor = input('Masukkan Plat Nomor: ')

plat = plat_nomor.split(' ')
plat = int(plat[1])

if tanggal%2==0:
    if plat%2==0:
        print('Anda Lolos, karena plat anda genap di tanggal genap')
    else :
        print('Anda DITILANG, karena plat anda ganjil di tanggal genap')
else:
    if plat%2!=0:
        print('Anda Lolos, karena plat anda ganjil di tanggal ganjil')
    else :
        print('Anda DITILANG, karena plat anda genap di tanggal ganjil')

Masukkan Tanggal: 12
Masukkan Plat Nomor: B 1 RI
Anda DITILANG, karena plat anda ganjil di tanggal genap

In [56]:
import pandas as pd
tanggal_trans = '2020-02-01'
tanggal_maks = '2020-02-05'

In [57]:
tanggal_trans = pd.to_datetime(tanggal_trans)
tanggal_maks = pd.to_datetime(tanggal_maks)

In [59]:
tanggal_trans<tanggal_maks

True

In [67]:
tanggal_transaksi = pd.to_datetime(input('Tanggal transaksi (YYYY-MM-DD) : '))
jumlah_transaksi = int(input('Jumlah transaksi (rupiah) : '))

tenggat_waktu = pd.to_datetime('2021-07-01')


if tanggal_transaksi <= tenggat_waktu :
    if jumlah_transaksi <= 100000 : 
        print('Selamat anda mendapatkan diskon sebesar Rp. {:,} !'.format(jumlah_transaksi*0.5))
    else :
        print('Selamat anda mendapat diskon sebesar Rp. {:,} !'.format(50000))
else :
    print('Diskon sudah tidak berlaku')

Tanggal transaksi (YYYY-MM-DD) : 2020-02-02
Jumlah transaksi (rupiah) : 76000
Selamat anda mendapatkan diskon sebesar Rp. 38,000.0 !

In [73]:
nilai = 1000000
nama = 'jihar'
print('nama saya {}, nilai saya {:,}'.format(nama, nilai))
print(f'nama saya {nama}, nilai saya {nilai}')

nama saya jihar, nilai saya 1,000,000
nama saya jihar, nilai saya 1000000

In [74]:
count = 5
while count>=1:
    print('Count : ', count)
    count -= 1
    
print('close the door!')

Count :  5
Count :  4
Count :  3
Count :  2
Count :  1
close the door!

In [76]:
cars = ['alphard', 'mercedes', 'BMW']
cars_upper = []
for car in cars:
    carupper = car.upper()
    cars_upper.append(carupper)

In [83]:
for index in range(len(cars)):
    print(f'Car {index+1} : {cars[index]}')

Car 1 : alphard
Car 2 : mercedes
Car 3 : BMW

In [94]:
for i in range(3):
    print(f'car {i+1} : {cars[i]}')

car 1 : alphard
car 2 : mercedes
car 3 : BMW

In [102]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f'BAB {i} - SUB BAB {j}')

BAB 1 - SUB BAB 1
BAB 1 - SUB BAB 2
BAB 1 - SUB BAB 3
BAB 2 - SUB BAB 1
BAB 2 - SUB BAB 2
BAB 2 - SUB BAB 3
BAB 3 - SUB BAB 1
BAB 3 - SUB BAB 2
BAB 3 - SUB BAB 3

In [103]:
for i in range(1, 5):
    for j in range(1, 5):
        print(f'{i} x {j} = {i*j}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

In [110]:
for i in 'ShiftAcademy':
    if i == 'A':
        pass
        print('--'*20)
    print('Huruf sekarang :', i)

Huruf sekarang : S
Huruf sekarang : h
Huruf sekarang : i
Huruf sekarang : f
Huruf sekarang : t
----------------------------------------
Huruf sekarang : A
Huruf sekarang : c
Huruf sekarang : a
Huruf sekarang : d
Huruf sekarang : e
Huruf sekarang : m
Huruf sekarang : y

In [111]:
print('Nama: Jihar\nNilai: 100')

Nama: Jihar
Nilai: 100

In [112]:
z = ''
for i in range(5):
    for j in range(5):
        z += ' * '
    z += '\n'
print(z)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [118]:
z = ''
for i in range(5):
    for j in range(5-i):
        z += ' * '
    z += '\n'
for i in range(1, 5):
    for j in range(1+i):
        z += ' * '
    z += '\n'
print(z)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [122]:
z = ''
for i in range(5):
    for j in range(5-i):
        z += ' * '
    z += '\n'
    
for i in range(1, 5):
    for j in range(1+i):
        z += ' * '
    z += '\n'
print(z)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

# Functions

In [123]:
def cetak(string):
    print(string)

In [124]:
cetak('Hello World!')

Hello World!

In [125]:
def square(num):
    return num ** 2

In [126]:
square(5)

25

In [127]:
def luas_segitiga(alas, tinggi):
    luas = alas*tinggi / 2
    return luas

In [128]:
luas_segitiga(5, 10)

25.0

In [129]:
string = 'abcd'
string[::-1]

'dcba'

In [134]:
def cek_palindrome(kata):
    kata = kata.lower()
    if kata==kata[::-1]:
        print(f"Kata '{kata}' adalah palindrome")
    else:
        print(f"Kata '{kata}' bukan palindrome")

In [135]:
cek_palindrome('kata')

Kata 'kata' bukan palindrome

In [137]:
cetak('something')

something

In [141]:
luas_segitiga(tinggi=12, alas=5)

30.0

In [148]:
def total_gaji(basic, denda, bonus=2000000,pajak=0.1):
    total = basic + bonus - denda - (basic*pajak)
    print('Take home pay: ', total)

In [150]:
total_gaji(basic=10000000, denda=100000, bonus=500000)

Take home pay:  9400000.0

In [151]:
def maksimal(*args):
    maks = args[0]
    for i in args:
        if i>maks:
            maks=i
    return maks

In [152]:
maksimal(23,23,23423,423,423,423,42,34,234,23,4,234,234,23,423,42)

23423

In [157]:
def cek_genap(sebuahList):
    genap = []
    for i in sebuahList:
        if i%2==0:
            genap.append(i)
    return genap

In [158]:
cek_genap([1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [159]:
from random import shuffle

In [163]:
my_list = [' ', 'O', ' ']

In [164]:
def shuffle_list(myList):
    shuffle(myList)
    return myList

In [166]:
def player_guess():
    guess=''
    
    while guess not in [0,1,2]:
        guess = int(input('Pick a number (1/2/3): '))
    return guess

In [174]:
def check_guess(myList, guess):
    if myList[guess] == 'O':
        print('CORRECT!')
        print(myList)
    else:
        print('INCORRECT!')
        print(myList)

In [176]:
check_guess(shuffle_list(my_list), player_guess())

Pick a number (1/2/3): 2
INCORRECT!
[' ', 'O', ' ']

In [177]:
square(2)

4

In [179]:
angka = [2,3,4,5,6]
list(map(square, angka))

[4, 9, 16, 25, 36]

In [181]:
def check_even(num):
    return num%2==0

In [182]:
numbers = [1,2,3,4,5,6,7,8]
list(filter(check_even, numbers))

[2, 4, 6, 8]

In [183]:
angka = [2,3,4,5,6]
list(map(lambda num: num*10, angka))

[20, 30, 40, 50, 60]

In [186]:
words = ['makan', 'mas', 'iyo']
walikan = list(map(lambda word: word[::-1], words))

In [187]:
walikan

['nakam', 'sam', 'oyi']